body {
    background-color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: silver;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

table,
td,
th {
    border-collapse: collapse;
    margin-top: 10px;
}

td,
th {
    border: 1px solid black;
    width: 200px;
}

th {
    background-color: rgb(95, 95, 95);
    color: white;
}