/* Reset Rule */
* {
  padding:0;
  margin:0;
  font-size:16px;
  text-decoration: none;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
  box-sizing:border-box;
}

/* container styles */
#container {
  max-width:480px;
  margin:auto;
}

/* header styles */
#header {
  padding: 10px;
  padding-bottom:20px;
  padding-top:20px;
  background-color: #c25700;
}

h1 {
  font-size:50px;
}

#headerimage {
  float:left;
  width:35px;
  margin-right:10px;
}

/* content styles */
#content {
  background-color:#e8c1A2;
  padding-bottom:30px;
}

img {
  width:100%;
}

p {
  padding:5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:16px;
  margin-bottom:10px;
}

/* Hamburger menu */
#hamburgerexample {
  background-color: #cbdde5;
  padding:5px;
  margin-bottom: 10px;
}

#hamburgerexample img {
  width:20px;
  cursor: pointer;
}

#hamburgerexample div {
  display:none;
  flex-direction:column;
}

#hamburgerexample a {
  padding:10px;
  padding-left:5px;
  background-color:#387685;
  margin-top:1px;
  width:100%;
  color:white;
  text-decoration:none;
}

#hamburgerexample a:hover {
  background-color:#c25700;
}

/* footer styles */
#footer {
  background-color:#c25700;
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer p {
  font-size:12px;
  padding-left:10px;
  margin-top:10px;
}

